apiVersion: 1

datasources:
- name: VictoriaMetrics
  type: prometheus
  orgId: 1
  isDefault: true
  editable: false
  access: proxy
  url: http://{{ hostvars[groups['victoriametrics'][0]].ip }}:{{ victoria_listen_port }}/

# https://grafana.com/docs/administration/provisioning/#example-datasource-config-file